body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.ok {
    color: lime;
}

.normal {
    color: white;
}

.arch {
    color: aqua;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinking-cursor {
    animation: blink 1s infinite;
}